{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clj-commons/hickory {:mvn/version "0.7.5"}
        com.hyperfiddle/rcf {:mvn/version "20220926-202227"}}
 :aliases
 {:dev {:extra-paths ["src-dev"]}
  :run-x {:ns-default intronic.electrify-html
          :exec-fn -main
          :exec-args {}}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

    ; see build.clj
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                 slipset/deps-deploy           {:mvn/version "0.2.2"}}
          :ns-default build}

  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? false #_true ; dont sign for now
                       :artifact "deps-deploy.jar"
                       :pom-file "pom.xml"}}}}
