{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clj-commons/hickory {:mvn/version "0.7.5"}
        dev.weavejester/cljfmt {:mvn/version "0.13.0"}
        com.hyperfiddle/rcf {:mvn/version "20220926-202227"}}
 :aliases
 {:dev {:extra-paths ["src-dev"]
        :extra-deps {io.github.tonsky/clj-reload {:mvn/version "0.7.1"}}}
  :run-x {:ns-default intronic.electrify-html
          :exec-fn -main
          :exec-args {}}

  :test {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :jvm-opts ["-Dhyperfiddle.rcf.generate-tests=true"]
         :main-opts ["-m" "cognitect.test-runner" "-d" "src" "-r" "intronic.electrify-html.*"]
         :exec-fn cognitect.test-runner.api/test}

  ; see build.clj
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                 io.github.seancorfield/build-clj {:git/tag "v0.9.2" :git/sha "9c9f078"}}
          :ns-default build}

  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? false #_true ; dont sign for now
                       :artifact "deps-deploy.jar"
                       :pom-file "pom.xml"}}}}
